.modal {

	background-color: white;
	padding-bottom: 100px;
	.modal-title {
		text-align: center;
	}
	.modal-buttons {
		position: absolute;
		right: $modal-title-padding;
		top: $modal-title-padding;
		.btn {
			@extend .btn, .btn-link;
			padding-top: 0;
			padding-bottom: 0;
			background-color: transparent;
		}
	}

	.modal-full {
		margin-top: 0;
		margin-bottom: 0;
		width: 100%;
		position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
		.modal-content {
			@include box-shadow(none);
			border: none;
			// min-height: 100vh;
		}
	}
}